@import url('https://fonts.googleapis.com/css?family=Muli');

$color-light-blue: #37c6f0;
$color-light-yellow: #fff200;
$color-light-pink: #f84994;
$color-light-green: #74fa00;
$color-light-red: #ff7200;

$color-dark-blue: #008bdb;
$color-dark-yellow: #ffab00;
$color-dark-pink: #be2f7d;
$color-dark-green: #568d0c;
$color-dark-red: #fe2000;

body {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-direction: column;
    min-width: 320px;
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}

button {
    padding-bottom: 0px;
}

.text-center {
    text-align: center !important;
}

.mar-h-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin shade($colorOne, $colorTwo) {
    background: -webkit-linear-gradient(right, top, $colorOne, $colorTwo);
    background: -o-linear-gradient(bottom left, $colorOne, $colorTwo);
    background: -moz-webkit-linear-gradient(bottom, left, $colorOne, $colorTwo);
    background: linear-gradient(to bottom left, $colorOne, $colorTwo);
}

.shade-blue {
    @include shade($color-light-blue, $color-dark-blue);
}
.shade-yellow {
    @include shade($color-light-yellow, $color-dark-yellow);
}
.shade-pink {
    @include shade($color-light-pink, $color-dark-pink);
}
.shade-green {
    @include shade($color-light-green, $color-dark-green);
}
.shade-red {
    @include shade($color-light-red, $color-dark-red);
}

button {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}

$blur-strength: 5px;

.no-scroll {
    overflow: hidden;
}

.float-left {
    float: left;
}

.blur {
  -webkit-filter: blur($blur-strength);
  -moz-filter: blur($blur-strength);
  -ms-filter: blur($blur-strength);
  -o-filter: blur($blur-strength);
  filter: blur($blur-strength);
  transition: 0.2s;
}

button[role="event-exit"] {
    @extend button.invisible, button.square-round;
    position: absolute;
    top: 10px;
    right: 10px;

    img {
        width: 25px;
        height: 25px;
    }
}

$i: 10;
@while $i < 50 {
    .pad-#{$i} {
        padding: 0px + $i;
    }

    .pad-v-#{$i} {
        padding-top: 0px + $i;
        padding-bottom: 0px + $i;
    }

    .pad-h-#{$i} {
        padding-left: 0px + $i;
        padding-right: 0px + $i;
    }

    .mar-#{$i} {
        margin: 0px + $i;
    }

    .mar-v-#{$i} {
        margin-top: 0px + $i;
        margin-bottom: 0px + $i;
    }

    .mar-h-#{$i} {
        margin-left: 0px + $i;
        margin-right: 0px + $i;
    }

    $i: $i + 5;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-aligns-item {
    align-items: center;
}

.display-none {
    display: none !important;
}

.text-right {
    text-align: right !important;
}

.basic-card:hover,
.basic-card:active {
    box-shadow: 0px 0px 20px #5dbdf0;
}

.basic-card,
.basic-card-no-glow {
    border-radius: 5px !important;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)!important;
}

.content-move-inactive {
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.content-move-active {
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    transform: translateX(300px);
}

.side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0px;
    left: -300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 20px;
}
.side-menu *[role="close"] {
    font-size: 1.5em;
    cursor: pointer;
    color: #AAA;
}
.side-menu ul {
    padding: 0px;
}
.side-menu li::before {
    content: "";
    width: 20px;
    height: calc(1em + 22px);
    position: absolute;
    left: 0px;
    transform: translateY(-25%);
    background-color: #AFA;
}
.side-menu li:nth-child(2n)::before {
    background-color: #000;
}
.side-menu li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background-color: #CCC;
}
.side-menu li:nth-child(2n) {
    background-color: #AAA;
}
.side-menu section[content="profile"] {
    text-align: center;
    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid #000;
        margin-bottom: 10px;
    }
}



$profile-menu-color: #FCFCFC;

@keyframes dissoveIn {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.profile-menu-inactive {
    display: none;
    position: absolute;
}

.profile-menu-inactive * {
    display: none;
}

.profile-menu-active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid $profile-menu-color;
    position: relative;
    top: -34px;
    left: 305px;
    animation: dissoveIn 0.1s ease-in-out;
}
.profile-menu-active {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 70px;
    right: 15px;
    background-color: $profile-menu-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: dissoveIn 0.1s ease-in-out;
}

.tags-menu-inactive {
    display: none;
    position: absolute;
}

.tags-menu-inactive > * {
    display: none;
}

.tags-menu-active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid $profile-menu-color;
    position: relative;
    top: -34px;
    left: 5px;
    animation: dissoveIn 0.1s ease-in-out;
}

.tags-menu-active {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 70px;
    background-color: $profile-menu-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: dissoveIn 0.1s ease-in-out;
}

img[role="tags-icon"] {
    height: 2em;
    margin-right: 5px;
}

form {
    margin: 0;
}

button.invisible {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
}

button.outline {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(160, 160, 160, 0.5);
    outline: none;
    cursor: pointer;
}

button.square-round {
    height: 45px;
    width: 45px;
    border-radius: 20%;
    padding: 0px;
    margin: 0px;
}

input.invisible {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 5px;
}

input.invisible:focus {
    box-shadow: 0px 0px 10px #5dbdf0;
}

@for $i from 1 through 5 {
    input.bottom-outline-#{$i} {
        @extend input.invisible;
        border-bottom: #{$i}px solid #000;
        border-radius: 0px;
    }
}

input.border-transition {
    transition: border 0.2s ease-in;
}

input.border-blue {
    border-color: $color-light-blue;
}

input.border-green {
    border-color: $color-light-green;
}

input.border-yellow {
    border-color: $color-light-yellow;
}

input.border-pink {
    border-color: $color-light-pink;
}

input.border-red {
    border-color: $color-light-red;
}

input.border-focus-blue:focus {
    border-color: $color-light-blue;
}

input.border-focus-green:focus {
    border-color: $color-light-green;
}

input.border-focus-yellow:focus {
    border-color: $color-light-yellow;
}

input.border-focus-pink:focus {
    border-color: $color-light-pink;
}

input.border-focus-red:focus {
    border-color: $color-light-red;
}

input.border-focus-dark-blue:focus {
    border-color: $color-dark-blue;
}

input.border-focus-dark-green:focus {
    border-color: $color-dark-green;
}

input.border-focus-dark-yellow:focus {
    border-color: $color-dark-yellow;
}

input.border-focus-dark-pink:focus {
    border-color: $color-dark-pink;
}

input.border-focus-dark-red:focus {
    border-color: $color-dark-red;
}

div.vr {
    width: 1px;
    height: 30px;
    background-color: #000;
    display: block;
}

p.hr {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.7);
    display: block;
    padding: 0px;
    margin: 7px 0px;
}

nav[role="top-nav"] {
    background-color: #FFF;
    height: 65px;
    width: 100%;
    min-width: 480px;
    vertical-align: middle;
    z-index: 1000;

    position: -webkit-sticky;
    position: fixed;
    top: 0px;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
nav[role="top-nav"] > *,
nav[role="top-nav"] > section *
{
    display: inline-block;
    vertical-align: middle;
}
nav[role="top-nav"] img[alt="icon"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    height: 80%;
}
nav[role="top-nav"] input {
    width: 160px;
}
nav[role="top-nav"] input,
nav[role="top-nav"] button {
    font-size: 1.2em;
}
nav[role="top-nav"] i[class ^= "fa"] {
    font-size: 1.5em;
    margin: 0 5px 0 5px;
    color: #AAA;
}

$max-width-below-carousel: 1280px;
/* should match with $carousel-container-max-width */

section[role="main-content"] {
    background-color: #F1F1F1;
    flex: 1;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    min-width: 480px;

    .below-carousel {
        max-width: $max-width-below-carousel;
        margin: auto;
    }
}
section[content="left-group"] {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    align-items: center;
}

.flex-left {
    order: 1;
}

.flex-center {
    order: 2;
}

.flex-right {
    order: 3;
}

@for $i from 1 through 3 {
    .flex-#{$i} {
        flex: #{$i};
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.toggle {
    display: none !important;
}

.toggle-not {

}

button[role="profile-button"] {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    div {
        height: calc(2em - 2px);
        line-height: calc(2em - 2px);
    }

    img {
        height: calc(2em - 2px);
        margin-left: 5px;
        border-radius: 50%;
        border: 1px solid #000;
        display: inline-block;
    }
}

div.event-name p {
    margin-left: 20px;
}

/*tm*/
div.profile-head {
    margin-bottom: 40px;
    margin-left: 125px;
    height: 70px;
}

/*tm*/
div.profile-head h2[alt="profile-name"] {
    padding-top: 10px;
    margin-bottom: 5px;
    font-weight:normal;
}

/*tm*/
div.profile-head div[alt="faculty-icon"] {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #B22222;
    margin-top:4px;
    margin-right: 5px;
    position: absolute;
}

div.profile-head p {
    margin-left: 20px;
    margin-top: 5px;
}

/*tm*/
div.profile-popup {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}

/*tm*/
div.profile-popup img[alt="profile-pic"] {
    height: calc(85px);
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    position: absolute;
}

/*tm*/
div.profile-section {
    width: 300px;
    height: 110px;
    background-color: #F0F0F0;
    margin-left: 20px;
    margin-bottom: 17px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

/*tm*/
div.profile-section h4 {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #A0A0A0;
}

/*tm*/
div.my-event1 {
    height: 25px;
}

/*tm*/
div.my-event1 p {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #FF1493;
}

/*tm*/
div.my-event1 div[alt="event-icon"] {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #FF1493;
    margin-top:4px;
    margin-left: 10px;
    margin-right: 5px;
    position: absolute;
}

/*tm*/
div.my-event2 {
    height: 25px;
}

/*tm*/
div.my-event2 p {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #1493FF;
}

/*tm*/
div.my-event2 div[alt="event-icon"] {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #1493FF;
    margin-top:4px;
    margin-left: 10px;
    margin-right: 5px;
    position: absolute;
}

/*tm*/
div.my-event3 {
    height: 25px;
}

/*tm*/
div.my-event3 p {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #FFC000;
}

/*tm*/
div.my-event3 div[alt="event-icon"] {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #FFC000;
    margin-top:4px;
    margin-left: 10px;
    margin-right: 5px;
    position: absolute;
}

/*tm*/
div.my-noti p {
    color: #555555;
    margin-left: 30px;
    font-size: 0.9em;
}

/*tm*/
div.my-noti img[alt="noti-icon"] {
    height: calc(12px);
    margin-left: 10px;
    margin-right: 6px;
    margin-top: 3px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    position: absolute;
}

/*tm*/
div.btn-profile {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 13px;
    margin-bottom: 15px;
}

/*tm*/
div.btn-profile button {
    border: 2px solid;
    border-radius: 20px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
}

/*tm*/
div.btn-profile button[alt="btn-myevent"]{
    width: 185px;
    border-color: #00BFF0;
    color: #FFFFFF;
    background-color: #00BFF0;
}

/*tm*/
div.btn-profile button[alt="btn-logout"]{
    width: 110px;
    border-color: #FF0000;
    color: #FF0000;
    background-color: #FFFFFF;
}

// tm
section.channel-main{
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    background-color: #F5F5F5;
    color: #555555;

    section.channel-head{
        height: 400px;

        div.cn-tag{
            width: 100%;
            position: absolute;
            text-align: right;
            z-index: 10;

            article.tag-item{
                width: 50px;
                height: 50px;
            }
        }

        div.cn-detail{
            width: 100%;
            position: absolute;
            text-align: right;

            button{
                border: 2px solid;
                border-radius: 20px;
                height: 35px;
                margin-top: 145px;
                margin-left: 20px;
                margin-right: 20px;
                font-size: 1.05em;
                width: 150px;
                border-color: #AAAAAA;
                color: #555555;
                background-color: #FFFFFF;
            }
        }

        div.edit-cn-detail{
            width: 100%;
            position: absolute;
            text-align: right;

            button{
                border: 2px solid;
                border-radius: 20px;
                height: 35px;
                margin-top: 145px;
                margin-left: 20px;
                margin-right: 20px;
                font-size: 1.05em;
                width: 150px;
                border-color: #555555;
                color: #F0F0F0;
                background-color: #555555;
            }
        }

        div.cn-name{
            position: absolute;
            margin-top: 210px;
            margin-left: 32%;
            margin-right: 30%;

            h1{
                font-size: 2.2em;
                margin-top: 25px;
                margin-bottom: 30px;
            }

            button{
                position: absolute;
                border: 2px solid;
                border-radius: 20px;
                height: 35px;
                margin-top: 30px;
                margin-left: 75%;
                margin-right: 20px;
                font-size: 1.05em;
                width: 150px;
                border-color: #AAAAAA;
                color: #555555;
                background-color: #FFFFFF;
            }
        }

        div.edit-cn-name{
            position: absolute;
            margin-top: 210px;
            margin-left: 32%;
            margin-right: 30%;

            h1{
                font-size: 2.2em;
                margin-top: 25px;
                margin-bottom: 30px;
            }

            button{
                position: absolute;
                border: 2px solid;
                border-radius: 20px;
                height: 35px;
                margin-top: 30px;
                margin-left: 75%;
                margin-right: 20px;
                font-size: 1.05em;
                width: 150px;
                border-color: #555555;
                color: #F0F0F0;
                background-color: #555555;
            }
        }

        div[alt="cn-cover-pic"]{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 200px;
            display: inline-block;
            align-items: center;
            position: absolute;
            @include shade(#999999, #DDDDDD);
            border: 15px solid;
            border-color: #A0A0A0;
            transform: translateY(-50%) translateX(-50%);
            margin-top: 100px;
            margin-left: 50%;
        }

        img[alt="edit-cn-cover-pic"]{
            width: 90px;
            height: 90px;
            margin-top: 100px;
            margin-left: 50%;
            display: inline-block;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
        }

        img[alt="cn-profile-pic"]{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: calc(260px);
            margin-top: 200px;
            margin-left: 20%;
            border-radius: 50%;
            border: 15px solid;
            border-color: #A0A0A0;
            display: inline-block;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
        }

        img[alt="edit-cn-profile-pic"]{
            width: 90px;
            height: 90px;
            margin-top: 200px;
            margin-left: 20%;
            display: inline-block;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
        }

        div.add-event{
            position: absolute;
            margin-top: 230px;
            margin-left: 75%;
            width: 150px;
            height: 150px;
            background-color: #E0E0E0;
            text-align: center;
            border-radius: 5px;
            box-shadow:    inset 2px 2px 6px 5px #D9D9D9;

            img {
                width: 80px;
                height: 80px;
                margin-top: 20px;
                border-radius: 50%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            h1 {
                margin-top: 10px;
            }
        }
    }

    section.cn-event{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        h1{
            font-size: 1.5em;
            margin-top: 35px;
            margin-bottom: 15px;
            margin-left: 20px;
        }

        article[role="event-item"]{
            margin: 30px 25px;
        }
    }
}

// tm
div.edit-profile{
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    background-color: $profile-menu-color;
    color: #555555;
    position: relative;
    // top: calc(50% + 65px/2);
    // left: 50%;
    // transform: translateY(-50%) translateX(-50%);
    z-index: 555;
    padding: 30px;
    width: 650px;

    section.edit-pro-head{
        height: 115px;

        div.profile-head{
            margin-left: 160px;

            h1[alt="profile-name"] {
                padding-top: 10px;
                margin-bottom: 10px;
                font-size: 1.4em;
            }

            div[alt="faculty-icon"] {
                border-radius: 50%;
                height: 12px;
                width: 12px;
                background: #B22222;
                margin-top:4px;
                margin-right: 5px;
                position: absolute;
            }

            p {
                margin-left: 20px;
                margin-top: 5px;
            }
        }

        img[alt="profile-pic"] {
            height: calc(95px);
            margin-left: 30px;
            border-radius: 50%;
            border: 1px solid #000;
            display: inline-block;
            position: absolute;
        }

        button[role="exit"] {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: inherit;
            border: 0px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    section.edit-pro-left{
        flex: 1 1 50%;
        padding: 10px 50px;

        img{
            height: 20px;
            width: 20px;
            position: absolute;
            margin-top: 10px;
        }

        input[type="text"] {
            padding:8px;
            display:block;
            border:none;
            border-bottom:1px solid #ccc;
            width:100%;
            margin-left: 45px;
            width: 200px;
            z-index: 560;
            font-family:inherit;
            font-size: 1em;
            margin-bottom: 5px;
        }
    }

    section.edit-pro-right{
        // position: absolute;
        // left: 350px;
        // width: 220px;
        // height: 440px;
        flex: 1 1 50%;
        padding: 0px 30px;

        p {
            margin-left: 30px;
            margin-bottom: 5px;
        }

        img{
            height: 20px;
            width: 20px;
            position: absolute;
        }

        button.unlink{
            border: 1.5px solid;
            border-radius: 20px;
            width: 55px;
            height: 18px;
            font-size: 0.7em;
            border-color: #FF1111;
            color: #FF1111;
            background-color: #FFFFFF;
        }

        div.my-tag{
            height: 190px;
            border: 1.8px solid;
            border-radius: 5px;
            border-color: #CCCCCC;
            color: #555555;
            background-color: #FAFAFA;
            padding: 0px 5px;
            margin: 25px 0px;

            p {
                margin: 10px 5px;
                font-weight: bold;
                font-size: 0.9em;
                color: #888888;
            }

            article.tag-item{
                width: 40px;
                height: 40px;
                margin: 5px;
            }

            div{
                margin-top: 10px;
                text-align: center;
            }

            button{
                border: 1.8px solid;
                border-radius: 20px;
                width: 75px;
                height: 25px;
                font-size: 0.9em;
                border-color: #CCCCCC;
                color: #888888;
                background-color: #FFFFFF;
            }
        }

        div.btn-plane{
            text-align: center;
            padding-top: 10px;

            button{
                border: 1.8px solid;
                border-radius: 20px;
                width: 100px;
                height: 35px;
                font-size: 1em;
            }

            button.cancel{
                border-color: #AAAAAA;
                color: #888888;
                background-color: #FFFFFF;
                margin-right: 20px;
            }

            button.save{
                border-color: #9ACD32;
                color: #FFFFFF;
                background-color: #9ACD32;
            }
        }
    }

    p.sec-line {
        width: 1px;
        height: 350px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.1);
        left: 350px;
    }
}

::-webkit-input-placeholder {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    opacity: 0.5;
}
:-moz-placeholder {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}
::-moz-placeholder {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}
:-ms-input-placeholder {
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    opacity: 0.5;
}


section[content="bottom-half"] {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    border-right: 0px;
    border-left: 0px;
    h2 {
        margin: 0px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
}
section[content="bottom-half"]:last-of-type {
    border-top: 0px;
}
section[content="bottom-half"] > *:first-child {
    border-right: 1px solid #000;
}

$carousel-max-width: 800px;
$carousel-container-max-width: 1280px;

section[role="carousel"] {
    .myContainer {
        position: relative;
        margin: 0 auto;
        top: -20px;
        width: calc(100vw);
        max-width: $carousel-container-max-width;
    }
    @media all and (max-width: $carousel-container-max-width) {
        .myContainer {
            left: -20px;
        }
    }
    @media all and (max-width: calc($carousel-container-max-width + 40px)) and (min-width: $carousel-container-max-width) {
        .myContainer {
            left: calc(-20*(40px - (100vw - #{$carousel-container-max-width}))/40);
        }
    }

    .slick-slide {
        text-align: center;
        color: #419be0;
        background-color: #777;
        background: -webkit-linear-gradient(right, top, #fff50b, #ffab00);
        background: -o-linear-gradient(bottom left, #fff50b, #ffab00);
        background: -moz-webkit-linear-gradient(bottom, left, #fff50b, #ffab00);
        background: linear-gradient(to bottom left, #fff50b, #ffab00);
        margin-left: 2px;
        margin-right: 2px;
        width: 65vw;
        max-width: calc(#{$carousel-max-width});
        min-width: 386px;
        min-height: calc(9/16 * 386px);
        height: calc(9/16 * 65vw);
        max-height: calc(9/16 * #{$carousel-max-width});
    }
}

.slick-slide-item {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

div.search-box-container {
    position: fixed;
    display: none;
}

div.background-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 65px;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 550;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

section.search-box {
    position: fixed;
    top: 65px;
    left: 0px;
    width: 100vw;
    height: 300px;
    z-index: 551;

    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background: -moz-webkit-linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));

    form {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        white-space: nowrap;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display:flex;
        justify-content: center;

        input {
            padding: 10px;
            width: 50vw;
            min-width: 200px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            box-sizing: border-box;
            outline: none;
            border: none;
        }

        button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background: #089de3;

            i[class^="fa"] {
                color: #FFF;
            }
            i[class^="fa"]:hover,
            i[class^="fa"]:active {
                color: #F1F1F1;
            }
        }
    }
}

section[content="upcomming"] {
    h2 {
        margin-top: 0px;
    }
}

section[content="tag"],
section[content="channel"] {
    flex: 1;
    display: inline-block;
    max-width: 27%;
}
section[content="new"],
section[content="for-you"] {
    flex: 2;
    display: inline-block;
    text-align: center;
}

$event-item-height: 300px;

article[role="event-item"]:hover {
    box-shadow: 0px 0px 10px #5dbdf0;
}
article[role="event-item"]:active {
    box-shadow: 0px 0px 20px #5dbdf0;
}

article[role="event-item"].card-only {
    width: calc(0.621*#{$event-item-height});
    img[role="main-poster"] {
        border-radius: 5px;
    }
    section[content="detail"] {
        display: none !important;
    }

    div[role="overlay"] {
        opacity: 0;
        width: calc(0.621*#{$event-item-height});
        height: $event-item-height;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
        background: -moz-webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
        position: absolute;
        top: 0;
        left: 0;
        z-index: 501;
        border-radius: 5px;
        transition: opacity 0.2s;
    }

    span[role="joined"].top {
        display: block;
        position: absolute;
        right: 5px;
        top: 2px;
    }
}
article[role="event-item"].card-only:hover,
article[role="event-item"].card-only:active {
    div[role="overlay"] {
        opacity: 1;
        transition: opacity 0.2s;
    }
}

article[role="event-item"] {
    text-align: left;
    color: #393939;
    border-radius: 5px;
    width: calc(1.405*#{$event-item-height});
    height: $event-item-height;
    background-color: #FFF;
    position: relative;
    display: inline-block;
    margin: 15px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 500;

    h3 {
        margin: 0px;
    }

    .small {
        display: block;
        font-size: calc(0.03157894736842 * #{$event-item-height});
    }
    span[role="joined"] {
        text-align: right;
        color: #5dbdf0;
        margin: 7px 7px 0px 0px;
        display: none;
    }

    img[role="main-poster"],
    div[role="main-poster"] {
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-style: none;
        border: none;
        width: calc(0.621*#{$event-item-height});
        display: inline-block;
        background-color: #777;
        background: -webkit-linear-gradient(right, top, #fff50b, #ffab00);
        background: -o-linear-gradient(bottom left, #fff50b, #ffab00);
        background: -moz-webkit-linear-gradient(bottom, left, #fff50b, #ffab00);
        background: linear-gradient(to bottom left, #fff50b, #ffab00);

        position: absolute;
        top: 0px;
        left: 0px;
        border: 0;
        text-align: center;
    }

    div[role="main-poster"] {
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center top;
    }

    section[content="detail"] {
        margin: 10px 0 10px calc(0.7*#{$event-item-height});
        width: calc(0.705*#{$event-item-height});
        box-sizing: border-box;
        display: inline-block;

        .small {
            display: block;
            font-size: calc(0.03157894736842 * #{$event-item-height});
        }
        .medium {
            display: block;
            font-size: calc(0.03947368421053 * #{$event-item-height});
        }
        .big {
            display: block;
            font-weight: 900;
            letter-spacing: 0px;
            font-size: calc(0.05789473684211 * #{$event-item-height});
        }
        span.icon-line {
            * {
                display: inline-block;
            }

            i[class ^= "fa"] {
                width: calc(0.04947368421053 * #{$event-item-height});
                margin-right: calc(0.01 * #{$event-item-height});
                text-align: center;
                color: #d6d6d6;
            }
        }

        header[role="top-detail"] {
            margin: 0;
            padding-right: 10px;
            position: relative;

            span[role="joined"] {
                text-align: right;
                color: #5dbdf0;
            }
        }
        section[role="middle-detail"] {
            margin: 0;
            margin-top: calc(0.04473684210526 * #{$event-item-height});
            padding-right: 10px;
        }
        section[role="bio"] {
            margin-top: calc(0.06052631578947 * #{$event-item-height});
            padding-right: 10px;
        }
        footer[role="bottom"] {
            position: absolute;
            margin: 0;
            bottom: 10px;
            padding-right: 10px;
            color: #9b9b9b;

            img[role="mini-profile"] {
                display: inline-block;
                margin-right: 2px;
                border-radius: 100%;
                background-color: #000;
                background: -webkit-linear-gradient(right, top, #fff50b, #ffab00);
                background: -o-linear-gradient(bottom left, #fff50b, #ffab00);
                background: -moz-webkit-linear-gradient(bottom, left, #fff50b, #ffab00);
                background: linear-gradient(to bottom left, #fff50b, #ffab00);
                height: calc(0.04736842105263 * #{$event-item-height});
                width: calc(0.04736842105263 * #{$event-item-height});
                vertical-align: middle;
            }

            img[role="mini-profile"]:nth-last-child(2){
                margin-right: 10px;
            }

            *[role="description"] {
                display: inline-block;
                margin: 0px;
                margin-top: 5px;
            }
        }

        p.hr {
            width: calc(100% + 0.079 * #{$event-item-height});
            position: relative;
            background-color: rgba(0, 0, 0, 0.1);
            left: calc(-0.079 * #{$event-item-height});
        }
    }
}

section[role="card-list"] {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
section[role="card-list"] > * {
    margin: 0px 19px 15px 5px;
}

$circle-size: 75px;

article.tag-item {
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    background-color: #000;
    display: inline-block;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
}

article.channel-item {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    background: #FFF;
    height: $circle-size;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    align-items: center;
    div[role="img"],
    img {
        width: $circle-size;
        height: $circle-size;
        min-width: $circle-size;
        border-radius: 50%;
        margin-right: 10px;
    }

}

section[content="tag"],
section[content="channel"],
section[content="new"],
section[content="for-you"] > * {
    padding-bottom: 20px;
}

section.tagList {
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-wrap: wrap;
    width: 90%;
}

$event-detail-width: 75vw;
$event-detail-height: calc(1.013011152416357 * 75vw);
$event-detail-min-width: 200px;
$event-detail-min-height: 200px;
$event-detail-max-width: 695px;
$event-detail-max-height: calc(1.013011152416357 * 695px);
$event-detail-bp-1-height: calc(100vh - 2 * 65px);
$event-detail-bp-1-width: 95vw;
$event-detail-bp-2-height: calc(100vh - 65px);
$event-detail-bp-2-width: 100vw;
$event-basis: 20%;

// @media all and () {
//
// }

/*tm*/
div.to-right {
    text-align: center;
}

/*tm*/
div.to-right button {
    border: 1px solid;
    border-radius: 20px;
    height: 20px;
    font-weight: 5;
    font-size: 0.7em;
}

/*tm*/
div.to-right button[alt="btn-interest"]{
    width: 75px;
    border-color: #FFFF00;
    color: #FFFF00;
    background-color: #FFFFFF;
}

/*tm*/
div.to-right button[alt="btn-join"]{
    width: 75px;
    border-color: #00FFFF;
    color: #00FFFF;
    background-color: #FFFFFF;
    margin-left: 5px;
}

div.event-bio p {
    color: #555555;
    margin-left: 30px;
    font-size: 0.9em;
    text-align: justify;
    text-indent: 30px;
}

article.event-detail {
    padding: calc(0.07434944237918216 * #{$event-detail-width}) calc(0.05390334572490706 * #{$event-detail-width});
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
    position: fixed;
    z-index: 551;
    top: calc(50% + 65px/2);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    transition: 0.2s opacity ease-in-out;

    width: $event-detail-width;
    height: $event-detail-height;
    max-width: $event-detail-max-width;
    max-height: $event-detail-max-height;
    min-width: $event-detail-min-width;
    min-height: $event-detail-min-height;

    button[role="event-exit"] {
        position: absolute;
        top: 10px;
        right: 10px;

        img {
            width: 25px;
            height: 25px;
        }
    }

    .top-moving {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;

        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;

        height: calc(#{$event-detail-width} *9/16);

        .event-name,
        .event-info,
        .event-poster {
            width: 50%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

        .event-name {
            flex: 1 1 $event-basis;
            -webkit-flex: 1 1 $event-basis;
            order: 1;
            padding-left: calc(0.02695167286245353 * #{$event-detail-width});
            width: calc($event-basis - 0.02695167286245353 * #{$event-detail-width});
            max-height: 70px;
            box-sizing: border-box;

            h2 {
                font-size: 1.5em;
                margin: 0px;
            }

            div {
                display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox;      /* TWEENER - IE 10 */
                display: -webkit-flex;     /* NEW - Chrome */
                display:flex;
                align-items: center;
            }

            img[alt="ci"] {
                border-radius: 50%;
                height: 1.5em;
                width: 1.5em;
                background: #FF1493;
                margin-right: 5px;
            }

            // background: green;
        }

        .event-info {
            flex: 1 1 calc(100% - #{$event-basis});
            -webkit-flex: 1 1 calc(100% - #{$event-basis});
            order: 1;
            padding-left: calc(0.02695167286245353 * #{$event-detail-width});
            width: calc($event-basis - 0.02695167286245353 * #{$event-detail-width});
            box-sizing: border-box;
            color: #dfdbdb;

            .share-interest-join {
                position: relative;
                .float-left{
                    color: #dfdbdb;
                }
            }

            .to-right {
                text-align: right;
                overflow: hidden;
            }

            // background: red;
        }

        .event-poster {
            -webkit-flex: 1 1 100%;
            flex: 1 1 100%;

            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display:flex;
            flex-direction: column;

            -webkit-order: 0;
            order: 0;

            overflow: hidden;

            // background: blue;

            div.tags-container {
                width: calc(100% - 0.02695167286245353 * #{$event-detail-width});
                margin: 0 auto;
            }

            img[alt="main-poster"] {
                width: calc(100% - 0.02695167286245353 * #{$event-detail-width});
                border-radius: 5px;
                background: #000;
                display: block;
                margin: 0 auto;
            }

            img[data-icon="tag"] {
                margin-top: 10px;
                border-radius: 50%;
                height: 1.5em;
                width: 1.5em;
                background: #000;
                margin-right: 5px;
                display: inline-block;
                float: left;
            }
        }
    }
}

@media all and (max-width : 768px) {
    .toggle {
        display: initial !important;
    }
    .toggle-not {
        display: none !important;
    }

    article.event-detail {
        width: $event-detail-bp-1-width;
        height: $event-detail-bp-1-height;
        max-height: inherit;
        top: calc(50% + 65px/2);
    }

    section[content="tag"],
    section[content="channel"],
    section[content="new"],
    section[content="for-you"] {
        flex: auto;
        width: 100%;
        max-width: initial;
    }
    section[content="bottom-half"] > *:first-child {
        border-right: 0px;
        border-bottom: 1px solid #000;
    }

    article.event-detail .top-moving {
        height: initial;
        max-height: inherit;
        flex-direction: row;
        -webkit-flex-direction: row;
    }

    article.event-detail > .top-moving > .event-name, .event-poster, .event-info {
        flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        width: 100% !important;
        order: 1 !important;
    }

}

.modal-main {
    position: relative;
    z-index: 551;
}

@media all and (max-width : 480px) {
    article.event-detail {
        width: $event-detail-bp-2-width;
        height: $event-detail-bp-2-height;
        max-height: inherit;
        top: calc(50% + 65px/2);

        .top-moving {
            height: initial;
            max-height: inherit;
            flex-direction: row;
            -webkit-flex-direction: row;
        }
    }
}

/* start FM*/
article.tag-head {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  background: #FFF;
  height: 75px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
}

div.tag-icon {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: #FF1493;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 5px;
  position: absolute;
}

section[role="tag-content"] {
  background-color: #F1F1F1;
  flex: 1;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  min-width: 280px;
}

section[content="event-list"] {
  flex: 2;
  display: inline-block;
  text-align: center;
}

section[role="tag-content"] .below-carousel {
  max-width: 1440px;
  margin: auto;
}

/*end FM*/

.no-pos {
    position: fixed;
}

/* Start Faculty */

$fac-color: (
    engineer: #B80000,
    arts: #B3B3B3,
    science: #FFFF00,
    pol_sci: #000000,
    arch: #DF8800,
    account: #00C0FF,
    edu: #FF4E09,
    com_art: #12269F,
    econ: #FFD800,
    med: #1E7E00,
    vet_sci: #98C9E6,
    dent: #760081,
    pharma: #A3DF00,
    law: #FFFFFF,
    fine_art: #E20025,
    nurse: #F90432,
    health_sci: #D478FF,
    psycho: #40129F,
    sport_sci: #FF7E20,
    chula: #FF6FDB
);

@each $name, $value in $fac-color {
    .bg-#{$name} {
        background: $value;
    }

    .text-#{$name} {
        color: $value;
    }
}

/* End Faculty */
