.tags-menu-active .Bubble {
  position: relative;
  height: 100%;
  width: 100%;
  top: -18px;
}

.tags-menu-active .Bubble .main-bubble {
  border-radius: 50%;
  background-color: #AAA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100px;
  width: 100px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #FFF;
  transition: 0.2s;
}

.tags-menu-active .Bubble .main-bubble:hover {
  background-color: #BBB;
}

.tags-menu-active .Bubble .main-bubble:active {
  background-color: #CCC;
}

.tags-menu-active .Bubble .child-bubble-container {
  height: 100%;
  width: 50px;
  left: 50%;
  transform: translate(-50%) rotateZ(0deg);
  position: absolute;
  z-index: 999;
}

.tags-menu-active .Bubble .child-bubble-container .child-bubble::before {
  content: "";
  background: rgba(210, 210, 210, 0.2);
  position: absolute;
  height: calc(100px);
  width: calc(100px);
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(0px);
  z-index: 998;
  opacity: 0;
  transition: 0.1s;
}

.tags-menu-active .Bubble .child-bubble-container .child-bubble {
  border-radius: 50%;
  background-color: #AAA;
  position: absolute;
  top: 18%;
  /*
                Initial state
                top: calc(50% - 0.1 * 100px);
                */
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: calc(0.8 * 100px);
  width: calc(0.8 * 100px);
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #FFF;
}

.tags-menu-active .Bubble .child-bubble-container .child-bubble:active {
  box-shadow: 0px 0px 20px #5dbdf0;
}

.tags-menu-active .Bubble .child-bubble-container .child-bubble:hover::before {
  opacity: 1;
  transition: 0.1s;
}

/*
    Color palette;
    blue: #008bdb to #37c6f0
    yellow: #ffab00 to #fff200
    green: #568d0c to #74fa00
    pink: #be2f7d to #f84994
    red: #fe2000 to #ff7200
*/
