.event-edit {
  padding-right: 50px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.event-edit .content {
  display: flex;
}

.event-edit .content div:nth-child(1) {
  flex: 1;
  box-sizing: border-box;
}

.event-edit .content div:nth-child(1) input {
  font-size: 1.2em;
  width: calc(100% - 30px);
  box-sizing: border-box;
  margin-top: 5px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.event-edit .content div:nth-child(1) input:focus {
  box-shadow: none;
}

.event-edit .content div:nth-child(1) .flex {
  display: flex;
  flex-direction: column;
}

.event-edit .content div:nth-child(1) .flex * {
  flex: 1;
}

.event-edit .content div:nth-child(1) .flex-order-1 {
  order: 1;
}

.event-edit .content div:nth-child(1) .flex-order-2 {
  order: 2;
}

.event-edit .content div:nth-child(1) label {
  opacity: 0;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  color: #008bdb;
}

.event-edit .content div:nth-child(1) input:focus + label {
  opacity: 1;
  transition: opacity 0.1s;
}
