.modal-container {
  position: fixed;
  top: 65px;
  width: 100vw;
  height: calc(100vh - 65px);
}

article.event-detail-fix {
  padding: 40px 30px;
  box-sizing: border-box;
  font-family: "Century Gothic", CenturyGothic, Muli, AppleGothic, sans-serif;
  position: relative;
  z-index: 551;
  transition: 0.2s opacity ease-in-out;
  width: 75vw;
  max-width: 695px;
  min-width: 200px;
  margin: 40px auto 100px auto;
}

article.event-detail-fix button[role="event-exit"] {
  position: absolute;
  top: 10px;
  right: 10px;
}

article.event-detail-fix button[role="event-exit"] img {
  width: 25px;
  height: 25px;
}

article.event-detail-fix .top-moving {
  display: flex;
  position: relative;
}

article.event-detail-fix .top-moving > * {
  width: 50%;
}

article.event-detail-fix .top-moving .image > img {
  width: 100%;
}

article.event-detail-fix .event-poster-fix div.tags-container {
  width: calc(100% - 0.02695167286245353 * 75vw);
  margin: 0 auto;
}

article.event-detail-fix .event-poster-fix img[alt="main-poster"] {
  width: calc(100%);
  border-radius: 5px;
  background: #000;
  display: block;
  margin: 0 auto;
}

article.event-detail-fix .event-poster-fix img[data-icon="tag"] {
  margin-top: 10px;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: #000;
  margin-right: 5px;
  display: inline-block;
  float: left;
}

article.event-detail-fix .event-name {
  flex: 1 1 20%;
  -webkit-flex: 1 1 20%;
  order: 1;
  padding-left: calc(0.02695167286245353 * 75vw);
  width: calc($event-basis - 0.02695167286245353 * 75vw);
  max-height: 70px;
  box-sizing: border-box;
}

article.event-detail-fix .event-name h2 {
  font-size: 1.5em;
  margin: 0px;
}

article.event-detail-fix .event-name div {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
}

article.event-detail-fix .event-name img[alt="ci"] {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  background: #FF1493;
  margin-right: 5px;
}

article.event-detail-fix .event-info {
  flex: 1 1 calc(100% - 20%);
  -webkit-flex: 1 1 calc(100% - 20%);
  order: 1;
  padding-left: calc(0.02695167286245353 * 75vw);
  width: calc($event-basis - 0.02695167286245353 * 75vw);
  box-sizing: border-box;
  color: #dfdbdb;
}

article.event-detail-fix .event-info .share-interest-join {
  position: relative;
}

article.event-detail-fix .event-info .share-interest-join .float-left {
  color: #dfdbdb;
}

article.event-detail-fix .event-info .to-right {
  text-align: right;
  overflow: hidden;
}

article.event-detail-fix .event-bio p {
  color: #555555;
  margin-left: 0px;
  font-size: 0.9em;
  text-align: justify;
  text-indent: 30px;
}

div.background-overlay-fix {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 550;
  filter: alpha(opacity=50);
  /* required for opacity to work in IE */
}

@media all and (max-width: 768px) {
  article.event-detail-fix {
    width: 95vw;
    margin: 20px auto;
  }
  .top-moving {
    display: block;
    flex-direction: column;
  }
  .top-moving > * {
    display: block;
    height: initial !important;
    width: 100% !important;
  }
}

@media all and (max-width: 480px) {
  article.event-detail-fix {
    width: 100vw;
    margin: 1px auto;
    padding: 30px 23px;
  }
}
